<span class="coding-icon">
  <ng-container [ngSwitch]="titleCodingIcon(title)">
    <ng-container *ngSwitchCase="'html'">
      <i class="devicon-html5-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'typescript'">
      <i class="devicon-typescript-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'linux'">
      <i class="devicon-linux-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'javascript'">
      <i class="devicon-javascript-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'php'">
      <i class="devicon-php-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'c++'">
      <i class="devicon-cplusplus-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'c#'">
      <i class="devicon-csharp-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'sass'">
      <i class="devicon-sass-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'css'">
      <i class="devicon-css3-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'react'">
      <i class="devicon-react-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'vuejs'">
      <i class="devicon-vuejs-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'angular'">
      <i class="devicon-angularjs-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'python'">
      <i class="devicon-python-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'ruby'">
      <i class="devicon-ruby-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'rust'">
      <i class="devicon-rust-plain"></i>
    </ng-container>
    <ng-container *ngSwitchCase="'terminal'">
      <i class="material-icons">featured_play_list</i>
    </ng-container>
  </ng-container>
</span>
