@import "../../../variables.scss";

.toaster {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  padding: 10px 15px;
  &.error {
    background: $color4;
  }
  &.info {
    background: $color6;
  }
}
