<div class="collections-sidebar">
  <div class="collections-sidebar__top">
    <h1>My Collections</h1>

    <button
      *ngIf="!initLoading"
      title="Add list"
      class="add-list"
      (click)="showModal()"
    >
      <i class="material-icons"> add_circle </i>
    </button>
  </div>

  <error
    [error]="initError"
    msg="A problem occured while loading your lists"
  ></error>

  <loading [loading]="initLoading && !initError" [white]="true"></loading>

  <ul
    class="collections-sidebar__items"
    *ngIf="allCollections$ | async as allCollections"
  >
    <li *ngFor="let item of allCollections.snipsCollection">
      <button [routerLink]="item._id" routerLinkActive="active-link">
        {{ item.title }}
      </button>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<code-modal [visible]="modalVisible" (outsideClicked)="outsideModalClicked()">
  <h1>Create new Collection</h1>
  <form [formGroup]="newCodeListForm">
    <h2>Name:</h2>
    <input
      class="code-modal__text"
      placeholder="JavaScript"
      type
      formControlName="collectionName"
      #collectionNameInput
    />
    <div class="code-modal__button-actions">
      <button class="highlight" type="submit" (click)="saveNewCollection()">
        Save
      </button>
      <button class="no-highlight" type="button" (click)="abortNewCollection()">
        Abort
      </button>
    </div>
  </form>
  <loading [loading]="createLoading" [overlay]="true"></loading>
</code-modal>

<toaster
  [styling]="toasterStyle.Error"
  [visible]="collectionAddError"
  msg="Could not save your collection! Please try again later."
></toaster>
