<div class="collections-sidebar">
  <div class="collections-sidebar__top">
    <h1>My Collections</h1>

    <button
      *ngIf="!initLoading"
      title="Add list"
      class="add-list"
      (click)="showModal()"
    >
      <i class="material-icons"> add_circle </i>
    </button>
  </div>

  <error
    [error]="initError"
    msg="A problem occured while loading your collections!"
  ></error>

  <loading [loading]="initLoading && !initError" [white]="true"></loading>

  <ul class="collections-sidebar__items">
    <ng-container *ngIf="favourites$ | async as fav">
      <li *ngIf="!initLoading">
        <button routerLink="favourites" routerLinkActive="active-link">
          <span class="coding-icon-fav">
            <i class="material-icons">star</i>
          </span>
          <span class="collection-title">Favourites</span>
          <span class="collection-count">{{ fav.snipsCount }}</span>
        </button>
      </li>
    </ng-container>
    <ng-container *ngIf="allCollections$ | async as allCollections">
      <li *ngFor="let item of allCollections.snipsCollection">
        <button [routerLink]="item._id" routerLinkActive="active-link">
          <coding-icon [title]="item.title"></coding-icon>
          <span class="collection-title">{{ item.title }}</span>
          <span class="collection-count">{{ item.snipsCount }}</span>
        </button>
      </li>
    </ng-container>
  </ul>
</div>

<router-outlet></router-outlet>

<code-modal [visible]="modalVisible" (outsideClicked)="outsideModalClicked()">
  <h1>Create new Collection</h1>
  <form [formGroup]="newCodeListForm">
    <h2>Name:</h2>
    <input
      class="code-modal__text"
      placeholder="JavaScript"
      type
      formControlName="collectionName"
      #collectionNameInput
    />
    <div class="code-modal__button-actions">
      <button class="highlight" type="submit" (click)="saveNewCollection()">
        Save
      </button>
      <button class="no-highlight" type="button" (click)="abortNewCollection()">
        Abort
      </button>
    </div>
  </form>
  <loading [loading]="createLoading" [overlay]="true"></loading>
</code-modal>

<toaster
  [styling]="toasterStyle.Error"
  [(visible)]="collectionAddError"
  msg="Could not save your collection! Please try again later."
></toaster>
