<div class="collection-detail" *ngIf="collection$ | async as collection">
  <div class="collection-detail__header">
    <h2>
      {{ collection.title }}
    </h2>
    <div class="collection-detail__actions">
      <button (click)="editCollection(collection)">
        <i class="material-icons">edit</i>
      </button>
      <button (click)="addSnip(collection)" class="collection-detail__add-snip">
        <i class="material-icons">add_circle</i>
      </button>
    </div>
  </div>
  <div class="collection-detail__list"></div>

  <code-modal [visible]="modalVisible" (outsideClicked)="outsideModalClicked()">
    <ng-container *ngIf="!deleteCollectionView">
      <form [formGroup]="editCollectionForm">
        <input
          class="code-modal__text"
          formControlName="collectionName"
          #collectionNameInput
        />
        <div class="code-modal__button-actions">
          <button
            class="highlight"
            type="submit"
            (click)="saveEditCollection(collection)"
          >
            Save
          </button>
          <button
            class="no-highlight"
            type="button"
            (click)="hideAndResetModal()"
          >
            Abort
          </button>
        </div>
      </form>
      <div class="collection-detail__delete-collection">
        <button (click)="showDeleteCollectionView()">Delete Collection</button>
      </div>
    </ng-container>

    <ng-container *ngIf="deleteCollectionView">
      <h3 class="warn">Do you really want to delete this collection?</h3>
      <div class="code-modal__button-actions">
        <button class="no-highlight" (click)="deleteCollection(collection)">
          Yes Delete!
        </button>
        <button class="highlight" type="button" (click)="hideAndResetModal()">
          Abort
        </button>
      </div>
    </ng-container>
  </code-modal>
</div>

<toaster
  [(visible)]="collectionUpdateError"
  msg="Could not rename your collection! Please try again later."
></toaster>
