@import "../../../variables.scss";

.code-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;

  ::ng-deep {
    h1 {
      color: $mainColor;
      font-size: 22px;
    }

    h2 {
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .code-modal__text {
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid $color2;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .code-modal__button-actions {
      display: flex;
    }
  }

  &__inner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1000;
  }
  &__inner {
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.2);
  }
  &__bg {
    z-index: 999;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.2s ease;
  }
}

.code-modal.visible {
  opacity: 1;
  pointer-events: auto;
  .code-modal__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
