<div class="login-wrapper">
  <div class="login-wrapper__inner">
    <div class="logo">
      <span class="logo__icon">{{ "{ " + "🍺" + " }" }}</span>
      <span class="logo__text">Coding Snips</span>
    </div>
    <form [formGroup]="formGroup">
      <input
        type="text"
        name="email"
        placeholder="Email"
        formControlName="email"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
      <button
        class="login"
        type="submit"
        (click)="login()"
        [disabled]="loading"
      >
        Login
      </button>
    </form>

    <div class="loading-wrapper">
      <loading [loading]="loading" [white]="true"></loading>
    </div>

    <toaster [(visible)]="error" msg="Ups, Login Error"></toaster>
  </div>
</div>
