@import "../variables.scss";

.app-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
}
.main-view {
  display: flex;
  flex: 1;
}
.sidebar {
  position: relative;
  background-color: $color1;
  width: 60px;
  height: 100vh;
  flex: 0 0 auto;
}
