@import "../variables.scss";

.app-wrapper {
  position: relative;
  height: 100vh;
  display: flex;
}
.main-view {
  display: flex;
  flex: 1;
}
.sidebar {
  position: relative;
  background-color: $color1;
  width: 60px;
  height: 100vh;
}

.user {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  i {
    font-size: 38px;
  }
}
