@import "../../../variables.scss";
:host {
  display: contents;
}

.snip {
  padding: 25px;
  flex: 1 1 auto;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  &__header {
    display: flex;
    margin-bottom: 30px;
  }

  &__actions {
    margin-left: auto;
    button + button {
      margin-left: 10px;
    }
  }

  &__language {
    margin-bottom: 10px;
    font-weight: bold;
  }
}

h2 {
  font-size: 24px;
}
