<div class="snip">
  <ng-container *ngIf="snipDetails$ | async as snip">
    <div class="snip__header">
      <h2>{{ snip.title }}</h2>
      <div class="snip__actions">
        
        <button (click)="toggleFavourite(snip)">
          <i *ngIf="!snip.favourite" class="material-icons">star_border</i>
          <i *ngIf="snip.favourite" class="material-icons">star</i>
        </button>
      
        <button (click)="editSnip(snip)">
          <i class="material-icons">edit</i>
        </button>

        <button (click)="deleteSnip()">
          <i class="material-icons">delete</i>
        </button>

      </div>
    </div>
    <div class="snip__language">{{ snip.language }}</div>

    <div class="hljs-wrapper">
      <div class="hljs-wrapper__inner">
        <pre>
          <code [highlight]="snip.text" [lang]="snip.language"></code>
        </pre>
      </div>
    </div>

    <code-modal
      [visible]="deleteSnipModalVisible"
      (outsideClicked)="hideDeleteSnipModal()"
    >
      <h3 class="warn">Do you really want to delete this collection?</h3>
      <div class="code-modal__button-actions">
        <button class="no-highlight" (click)="deleteSnipRequest(snip)">
          Yes Delete!
        </button>
        <button class="highlight" type="button" (click)="hideDeleteSnipModal()">
          Abort
        </button>
      </div>
    </code-modal>

    <code-modal
      [visible]="editSnipModalVisible"
      (outsideClicked)="outsideEditSnipModalClicked()"
    >
      <h1>Edit your Snippet</h1>
      <form [formGroup]="editSnipForm">
        <div class="flex">
          <input class="code-modal__text" formControlName="snipTitle" />
          <select class="language-select" formControlName="snipLanguage">
            <option *ngFor="let option of codeLanguages" [value]="option">
              {{ option }}
            </option>
          </select>
          <input id="fav1" class="fav" type="checkbox" formControlName="snipFavourite" />
          <label for="fav1">
            <i class="material-icons">star_border</i>
            <i class="material-icons">star</i>
          </label>
            
        </div>
        <textarea
          class="snippet-area"
          formControlName="snipText"
          placeholder="Put your Code Snippet in here..."
        ></textarea>
        <div class="code-modal__button-actions">
          <button class="highlight" type="submit" (click)="saveEditSnip(snip)">
            Save
          </button>
          <button class="no-highlight" type="button" (click)="abortEditSnip()">
            Abort
          </button>
        </div>
      </form>
    </code-modal>
  </ng-container>
  <loading [loading]="loading && !initError"></loading>
  <error
    [error]="initError"
    msg="A problem occured while loading your Snippet!"
  ></error>
</div>

<toaster
  [styling]="toasterStyle.Error"
  [(visible)]="snipUpdateError"
  msg="Could not edit your Snippet! Please try again later."
></toaster>

<toaster
  [styling]="toasterStyle.Error"
  [(visible)]="snipDeleteError"
  msg="Could not delete your Snippet! Please try again later."
></toaster>
