/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
@import "./normalize.scss";
@import "~highlight.js/styles/atom-one-dark.css";

.hljs {
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: $mainFont;
  color: $textColor;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;

  &:hover {
    color: $mainColor;
  }

  &:focus {
    outline: 0;
    border: 0;
  }

  &.highlight {
    background-color: $mainColor;
    color: #fff;
    border-radius: 3px;
    &:hover {
      background-color: $color1;
    }
  }
  &.no-highlight {
    &:hover {
      color: $color1;
    }
  }

  &.highlight,
  &.no-highlight {
    padding: 11px;
  }
}

input {
  padding: 5px 8px;
  box-sizing: border-box;
  &:focus {
    border: 0;
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

h3 {
  font-size: 15px;
  margin-bottom: 15px;
  &.warn {
    color: $color3;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.language-select {
  border: 1px solid $color2;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  margin-left: 20px;
  width: 200px;
  padding: 0 3px;
}

.snippet-area {
  width: 100%;
  line-height: 1.6em;
  max-width: 100%;
  min-width: 100%;
  min-height: 300px;
  border: 1px solid $color2;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}
