<div class="collections-sidebar">
  <div class="collections-sidebar__top">
    <h1>My Lists</h1>

    <button
      *ngIf="!loading"
      title="Add list"
      class="add-list"
      (click)="showNewCodeListModal()"
    >
      <i class="material-icons">
        add_circle
      </i>
    </button>
  </div>

  <loading [loading]="loading" [white]="true"></loading>

  <ul class="collections-sidebar__items">
    <li
      *ngFor="let item of allCollections$ | async"
      (click)="openCollection(item)"
    >
      {{ item.title }}
      <!--   <button (click)="updateCollectionTitle(item._id)">Click</button> -->
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<code-modal *ngIf="newCodeList" (outsideClicked)="outsideModalClicked()">
  <div class="new-collection">
    <h1>Create new List</h1>
    <form [formGroup]="newCodeListForm">
      <h2>Name:</h2>
      <input
        class="new-collection__name"
        placeholder="JavaScript"
        type
        formControlName="codeListName"
      />
      <div class="new-collection__button-actions">
        <button class="action" type="submit" (click)="saveNewCollection()">
          Speichern
        </button>
        <button class="abort" type="button" (click)="abortNewCollection()">
          Abbrechen
        </button>
      </div>
    </form>
  </div>
</code-modal>
