<div class="lists-sidebar">
  <div class="lists-sidebar__top">
    <h1>My Lists</h1>

    <button class="add-list" (click)="showNewCodeListModal()">
      <i class="material-icons">
        add_circle
      </i>
    </button>
  </div>
  <ul class="lists-sidebar__items">
    <li *ngFor="let item of allCollections$ | async">
      {{ item.title }}
      <!--   <button (click)="updateCollectionTitle(item._id)">Click</button> -->
    </li>
  </ul>
</div>

<code-modal *ngIf="newCodeList">
  <form [formGroup]="newCodeListForm">
    <input type formControlName="codeListName" />
    <button type="button" (click)="saveNewCollection()">Speichern</button>
    <button type="button" (click)="abortNewCodeList()">Abbrechen</button>
  </form>
</code-modal>
