<div class="lists-sidebar">
  <div class="lists-sidebar__top">
    <h1>My Lists</h1>

    <button title="Add list" class="add-list" (click)="showNewCodeListModal()">
      <i class="material-icons">
        add_circle
      </i>
    </button>
  </div>
  <ul class="lists-sidebar__items">
    <li *ngFor="let item of allCollections$ | async">
      {{ item.title }}
      <!--   <button (click)="updateCollectionTitle(item._id)">Click</button> -->
    </li>
  </ul>
</div>

<code-modal *ngIf="newCodeList" (outsideClicked)="outsideModalClicked()">
  <div class="new-list">
    <h1>Create new List</h1>
    <form [formGroup]="newCodeListForm">
      <h2>Name:</h2>
      <input
        class="new-list__name"
        placeholder="JavaScript"
        type
        formControlName="codeListName"
      />
      <div class="new-list__button-actions">
        <button class="action" type="submit" (click)="saveNewCollection()">
          Speichern
        </button>
        <button class="abort" type="button" (click)="abortNewCodeList()">
          Abbrechen
        </button>
      </div>
    </form>
  </div>
</code-modal>
